@page
@model LifeAchievments.Pages.AchievmentsModel
@{
}
<h1>Achievments</h1>
	Categories
<div class="container">
	<ul class="list-group">
		<div class="row">
			@foreach (var category in Model.Categories)
			{
			<li class="list-group-item">
				<input class="form-check-input me-1" type="checkbox" value="" id="@category.Id">
				<label class="form-check-label stretched-link" for="@category.Id">@category.Name</label>
			</li>
			}
	</ul>

</div>

<div class="row row-cols-1 row-cols-md-3 g-4">

	@foreach (var achievment in Model.Achievments)
	{
		<div class="col">
			<div class="card h-100">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">@achievment.Name</h5>
					<p class="card-text">@achievment.Description</p>
					@if (@achievment.State == Models.State.Uncompleted)
					{
						var progress = @achievment.Progress * 100 / @achievment.MaxAmount;
						<div class="progress mr-4">
							<div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: @progress%" aria-valuenow="@progress" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<div class="align-right">
							@achievment.Progress/@achievment.MaxAmount
						</div>
					}
				</div>
			</div>
		</div>
	}
</div>
<div>
	<!--<a class="btn btn-danger"  asp-area="" asp-page="/CreateEditAchievment" asp-route-EditingAchievment=""></a>-->
	<a class="btn btn-danger" asp-area="" asp-page="/CreateEditAchievment">+</a>
</div>

<!--Toasts-->